.body {
    font-family: "Roboto";
}

.bg-yellow {
    background-color: yellow;
}

.bg-ligth-gray{
    background-color: grey;
}

.w-50 {
    width: 50%;
}

.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 0px;
}

