<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <title>Mercado Liebre</title>
    </head>

    <body class="bg-grey">
        <header class="bg-yellow p-1 flex flex-wrap align-center justify-content-space-around navegacion">
            <div class="p-2 w-100 md-w-50 lg-w-25">
                <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
            </div>
            <div class="p-2 w-100 md-w-50">
                <form action="/" class="p-1 flex radius-1 bg-white">
                    <input class="flex-grow b-none outline-none font-xl" type="text" name="search" placeholder="Buscá productos por nombre, marcas o palabras clave" />
                    <button type="submit" class="bg-white b-none">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div class="p-2 w-100 md-w-50 lg-w-25">
                <p class="text-center w-100">
                    <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
            <nav class="w-100">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="/cart">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </header>
        
        <img class="w-100" src="/images/img-home-banner.jpg" alt="Promoción fiestas" />

        <main class="p-2 main">
            <form action="/home" method="POST" class="form" >
                <input type="text" placeholder=" Nombre y apellido" id="nombreApellido" class="input" maxlength="250" required>
                <input type="text" placeholder=" Nombre de usuario" id="nombreUsuario" class="input" maxlength="" required>
                <input type="email" placeholder=" Email" id="email" class="input" maxlength="120" required>
                <label for="fechaNac"><h3 class="margen-15px">Fecha de nacimiento</h3></label><input type="date" placeholder=" Fecha de nacimiento" id="fechaNac" required>
                <input type="text" placeholder=" Domicilio" id="domicilio" class="input">
                <label><h3 class="margen-15px">Perfil de usuario</h3></label>
                <div><input type="radio" name="perfil" id="comprador"><label for="comprador">Comprador</label></div>               
                <div></div><input type="radio" name="perfil" id="vendedor"><label for="vendedor">Vendedor</label></div> </div>
                <label><h3 class="margen-15px">Intereses</h3></label>
                <div><input type="checkbox" name="electro"><label for="electro">Electro</label></div>
                <div><input type="checkbox" name="moda"><label for="moda">Moda</label></div>
                <div><input type="checkbox" name="hogar"><label for="hogar">Hogar</label></div>
                <div><input type="checkbox" name="jugueteria"><label for="jugueteria">Juguetería</label></div>
                <div><input type="checkbox" name="vidasana"><label for="vidasana">Vida sana</label></div></div>
                <div><label>Seleccionar una imagen para el perfil:</label>
                <div><input type="file" name="avatar" accept=".jpg" multiple></div>
                <input type="password" placeholder=" Contraseña" id="password" class="input" required>
                <input type="password" placeholder=" Confirmar contraseña" id="passwordConf" class="input" required>
                <button type="submit" class="button fc-buttons fc-buttons-item">Enviar</button>
                <button type="reset" class="button fc-buttons fc-buttons-item">Cancelar</button>
            </form>
        </main>

        <footer class="p-1 flex flex-wrap font-lg">
            <div class="block w-100 md-w-50 lg-w-25">
                <i class="fa-solid fa-credit-card iconos"></i>
                <p><h3><b>Pagá con tarjeta o en efectivo</b></h3></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="block w-100 md-w-50 lg-w-25">
                <p><i class="fa-solid fa-gift iconos"></i></p>
                <p><h3><b>Envío gratis desde $2.500</b></h3></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="block w-100 md-w-50 lg-w-25">
                <p><i class="fa-solid fa-user-shield iconos"></i></p>
                <p><h3><b>Seguridad, de principio a fin</b></h3></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <div class="py-1 w-100 text-center bg-white">
                <p><h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></p>
            </div>
        </footer>
    </body>
</html>